.box-newtweet {
  position: absolute;
  width: 520px;
  margin-left: 3.6rem;
  height: 195.29px;
  left: 360px;
  top: 94.29px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(67, 76, 207, 0.479);
  border-radius: 12px;
}

.write-tweet {
  position: absolute;
  width: 100px;
  height: 5px;
  left: 12px;
  top: 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 1000;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.035em;
  color: #4f4f4fc7;
}

.horz-line {
  position: absolute;
  width: 480px;
  height: 0px;
  left: 12px;
  top: 50.2px;
  border: 1px solid #e0e0e0;
}

.pic-area {
  position: absolute;
  width: 50px;
  height: 55.86px;
  left: 20px;
  top: 60.2px;
  border-radius: 8px;
}

.text-area {
  position: absolute;
  width: 400px;
  left: 84px;
  top: 75.2px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.035em;
  color: #050505;
  outline: none !important;
  border: none;
}

.add-pic {
  position: absolute;
  width: 30px !important;
  height: 30px !important;
  left: 380px;
  top: 156.58px;
}

.add-img {
  position: absolute;
  width: 30px !important;
  height: 30px !important;
  color: #201f1f83;
}

.add-img:hover {
  color: #201f1fb6;
}

.img-btn {
  position: absolute;
  width: 25px !important;
  min-width: 0px !important;
  height: 20px !important;
  padding: 0px 0px 0px 0px !important;
  background-color: rgba(100, 148, 237, 0);
}

.tweet-btn {
  position: absolute;
  color: #e0e0e0 !important;
  font-weight: 700 !important;
  letter-spacing: 0.15em !important;
  width: 81px;
  height: 32px;
  left: 420px;
  top: 152.58px;
  background: #2f80ed !important;
  border-radius: 4px !important;
}

.tweet-btn:hover {
  background: #364e6d;
}