.box-peopletweet {
  margin-top: 40px;
  position: relative;
  width: 520px;
  height: 620px;
  margin-left: 4.6rem;
  /* left: 340px; */
  /* top: 332.9px; */
  background: #ffffff;
  box-shadow: 0px 2px 4px rgb(61, 78, 177);
  border-radius: 12px;
}

.pic-People {
  position: absolute;
  width: 65px;
  height: 60px;
  left: 20px;
  top: 20.2px;
  border-radius: 12px;
}

.div-name {
  position: absolute;
  width: 99px;
  height: 48px;
  left: 20px;
  top: 10.2px;
}

#pname {
  position: absolute;
  width: 99px;
  height: 48px;
  left: 80px;
  top: 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.035em;
  color: #000000;
}

#twdate {
  position: absolute;
  width: 99px;
  height: 16px;
  left: 80px;
  top: 30px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.035em;
  color: #9e9d9d;
}

#tweet-content {
  position: absolute;
  width: 544.15px;
  height: 22px;
  left: 20px;
  top: 90px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* letter-spacing: -0.035em; */
  color: #4f4f4f;
}

.pictweet-People {
  position: absolute;
  width: 500px;
  height: 290px;
  left: 20px;
  top: 150px;
  border-radius: 8px;
}

.div-comment {
  position: absolute;
  width: 102.26px;
  height: 20px;
  left: 20px;
  top: 230px;
}

.div-commentt {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 230px;
}

#comt {
  position: absolute;
  font-size: x-large !important;
  color: #000000ab;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
  cursor: pointer;
}

#commn {
  position: absolute;
  width: 70px;
  height: 19px;
  left: 50px;
  top: 220px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  cursor: pointer;
}

#commn, comt:hover {
  color: #313030 !important;
}

#retweet-btn {
  position: absolute !important;
  width: 130px !important;
  height: 41.17px !important;
  left: 155px !important;
  top: 452px !important;
  background: #746f6f15 !important;
  border-radius: 8px;
  font-family: Noto Sans !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  letter-spacing: -0.035em !important;
  text-transform: inherit;
}

#retwt {
  position: absolute;
  width: 59px;
  height: 30px;
  left: 43px;
  top: -2px;
  color: #4f4f4f;
}

#pic-retwt {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 19px;
  top: 10px;
  size: 80px !important;
}

.div-like {
  position: absolute;
  width: 102.26px;
  height: 20px;
  left: 300px;
  top: 230px;
}

.div-likke {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 230px;
}

#lik {
  position: absolute;
  font-size: x-large !important;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
  cursor: pointer;
  color: #a0040478 !important;
}

#Like {
  position: absolute;
  width: 70px;
  height: 19px;
  left: 50px;
  top: 220px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.035em;
  color: #3f3d3d;
  cursor: pointer;
}

#lik:hover {
  color: #a00404 !important;
}

.div-book {
  position: absolute;
  width: 102.26px;
  height: 20px;
  left: 440px;
  top: 230px;
}

.div-boook {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 230px;
}

#bok {
  position: absolute;
  font-size: x-large !important;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
  cursor: pointer;
  color: #42404078 !important;
}

#Book {
  position: absolute;
  width: 70px;
  height: 19px;
  left: 50px;
  top: 220px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.035em;
  color: #3f3d3d;
  cursor: pointer;
}

#bok:hover {
  color: #0a0a0a !important;
}

.pic-areaa {
  position: absolute;
  width: 50px;
  height: 55.86px;
  left: 20px;
  top: 520.2px;
  border-radius: 8px;
}

.text-areaa {
  position: absolute;
  width: 400px;
  left: 84px;
  top: 540.2px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.035em;
  color: #050505;
  outline: none !important;
  border: none;
}

.MuiFilledInput-multiline {
  padding: 10px 13px 0px !important;
}

.MuiFilledInput-inputMultiline {
  height: 28px !important;
}

.addd-pic {
  position: absolute;
  width: 30px !important;
  height: 30px !important;
  left: 490px;
  top: 545px;
}