.book-div {
  position: absolute;
  width: 600px;
  height: 54px;
  left: 440px;
  top: 102.5px;
  background: #ffffff;
  box-shadow: 1px 4px 8px #299adf;
  border-radius: 8px;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  color: #299adf;
}
