.tweeter-sidenavbar {
  height: 100vh;
  width: 402px;
  border-right: 1px solid #000;
}

.tweeter-sidenavbar-container {
  display: flex;
  justify-content: flex-end;

  .sidenav-logo {
    padding-top: 5px;
    .tweeter-logo {
      fill: rgba(29, 161, 242, 1);
      width: 35px;
      height: 30px;
    }
  }

  .sidenav-container nav {
    > a {
      display: block;
      margin: 10px 2px;
      width: 238px;
      height: 48px;
      font-size: 19px;
      font-weight: 700;

      &:hover > .sidenav-item {
        color: rgba(29, 161, 242, 1);
        border-radius: 20px;
        border: 1px hidden #fff;
        background-color: rgb(231, 244, 255);
      }
    }
    .sidenav-item {
      padding: 5px;
      width: auto;
    }

    .tweet-item {
      width: 200px;
      background-color: #1da1f2;
      color: #fff;
      border-radius: 30px;
      //   border: 1px solid #1da1f2;
      text-align: center;
      padding: 15px 10px;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
