.tweeter-sidenavbar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  width: 402px;
  border-right: 1px solid #ebeef0;
}

.tweeter-sidenavbar-container {
  //   display: flex;
  //   flex-direction: column;
  .sidenav-logo {
    padding-top: 5px;
    .tweeter-logo {
      fill: rgba(29, 161, 242, 1);
      width: 35px;
      height: 30px;
    }
  }

  .sidenav-container nav {
    > a {
      display: block;
      margin: 10px 2px;
      width: 238px;
      height: 48px;
      font-size: 19px;
      font-weight: 700;

      &:hover > .sidenav-item {
        color: rgba(29, 161, 242, 1);
        border-radius: 20px;
        border: 1px hidden #fff;
        background-color: rgb(231, 244, 255);
        cursor: pointer;
      }
    }
    .sidenav-item {
      padding: 5px;
      width: auto;
    }

    .tweet-item {
      width: 200px;
      background-color: #1da1f2;
      color: #fff;
      border-radius: 30px;
      //   border: 1px solid #1da1f2;
      margin-bottom: 10px;
      text-align: center;
      padding: 15px 10px;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.sidenav-item {
  display: flex;
  div:first-child {
    fill: rgba(29, 161, 242, 1);
    width: 27px;
    height: 27px;
  }
  div:nth-child(2){
    margin-left: 20px;
    margin-right: 15px;
  }
}

.username-data {
  //   align-self: flex-end;
  position: absolute;
  // bottom: 0;
  margin: 10px 0;

  .username-data-container {
    display: flex;
    justify-content: center;
  }

  .profile-img img {
    border-radius: 50%;
    width: 39px;
    height: 39px;
  }

  .username {
    margin: 0 10px;

    div:first-child {
      font-weight: 700;
    }
  }

  .dots-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    .dots {
      display: block;
      height: 1.25em;
    }
  }
}
