.tweeter-sidenavbar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  width: 402px;
  border-right: 1px solid #ebeef0;
}

.tweeter-sidenavbar-container .sidenav-logo {
  padding-top: 5px;
}
.tweeter-sidenavbar-container .sidenav-logo .tweeter-logo {
  fill: #1da1f2;
  width: 35px;
  height: 30px;
}
.tweeter-sidenavbar-container .sidenav-container nav > a {
  display: block;
  margin: 10px 2px;
  width: 238px;
  height: 48px;
  font-size: 19px;
  font-weight: 700;
}
.tweeter-sidenavbar-container .sidenav-container nav > a:hover > .sidenav-item {
  color: #1da1f2;
  border-radius: 20px;
  border: 1px hidden #fff;
  background-color: #e7f4ff;
  cursor: pointer;
}
.tweeter-sidenavbar-container .sidenav-container nav .sidenav-item {
  padding: 5px;
  width: auto;
}
.tweeter-sidenavbar-container .sidenav-container nav .tweet-item {
  width: 200px;
  background-color: #1da1f2;
  color: #fff;
  border-radius: 30px;
  margin-bottom: 10px;
  text-align: center;
  padding: 15px 10px;
  font-weight: 600;
}
.tweeter-sidenavbar-container .sidenav-container nav .tweet-item:hover {
  cursor: pointer;
}

.sidenav-item {
  display: flex;
}
.sidenav-item div:first-child {
  fill: #1da1f2;
  width: 27px;
  height: 27px;
}
.sidenav-item div:nth-child(2) {
  margin-left: 20px;
  margin-right: 15px;
}

.username-data {
  position: absolute;
  margin: 10px 0;
}
.username-data .username-data-container {
  display: flex;
  justify-content: center;
}
.username-data .profile-img img {
  border-radius: 50%;
  width: 39px;
  height: 39px;
}
.username-data .username {
  margin: 0 10px;
}
.username-data .username div:first-child {
  font-weight: 700;
}
.username-data .dots-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.username-data .dots-container .dots {
  display: block;
  height: 1.25em;
}