/* https://daveceddia.com/react-practice-projects/ */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
.social-card {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-left: 400px;
  margin-top: -174px;
  padding: 0.4em 2.5em;
  font-family: "Open Sans", sans-serif;
  width: 45%;
  /* margin-bottom: 250px; */
}

.user-pic {
  display: block;
  min-width: 50px;
  width: 50px;
  height: 50px;
  /* background: red;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  border-radius: 50%;
  overflow: hidden;
}

.user-pic img {
  display: block;
  width: 50px;
  height: 50px;
}

.body-tweet {
  display: block;
  width: 100%;
  padding: 0em 0.8em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .text-box {
  padding-bottom: 0.5em;
}

.text-box h4 {
  padding: initial;
  margin: initial;
  font-size: 1em;
  color: white;
}

.text-box p {
  padding: initial;
  margin: initial;
  font-size: 0.9em;
  color: white;
}

.text-box a {
  padding: initial;
  margin: initial;
  font-size: 0.9em;
  color: #257dca;
}

.text-box h4 span, .text-box p span {
  color: #9b9b9b;
  font-weight: 700;
}

.tweet-ref-account {
  padding: 0.5em 0 0 !important;
  font-size: 0.8em;
}

.tweet-ref {
  margin-top: 20px;
  display: block;
  width: 100%;
  border: 2px solid #c9c9c9;
  border-radius: 10px;
  overflow: hidden;
  height: fit-content;
  margin-left: -58px;
}

.pic-content {
  display: block;
  width: 100%;
}

.twt-ref-t-b {
  padding: 0.6em;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -58px;
  width: 100%;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 60px;
  color: white;
  padding: 1.5em 4em 0.5em 14px;
  font-weight: 700;
}

@media (max-width: 1010px) {
  .footer-icons {
    min-width: 50px !important;
  }
  .input {
    width: 55% !important;
  }
  .timeline-comment-box {
    margin-left: -83px;
  }
}

@media (max-width: 940px) {
  .social-card {
    width: 35% !important;
  }
  .footer-icons {
    min-width: 48px !important;
    padding: 1.5em 3em 0.5em 2px !important;
  }
  .input {
    width: 55% !important;
  }
  .timeline-comment-box {
    margin-left: -83px;
  }
}

.comment-pic, .like-pic, .message-pic {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: white;
}

.comment-pic:hover {
  color: rgb(41, 2, 17);
}

.input {
  margin-left: 10px !important;
  margin-top: 13px !important;
  border-radius: 45px;
  width: 60%;
}

.input-group {
  display: flex;
  width: 138%;
}

.form-control {
  border: none !important;
  background: #2f02075e !important;
  width: 100% !important;
  height: 31px !important;
  color: white !important;
  border-radius: 5px;
}

.timeline-comment-box {
  margin-left: -93px;
  margin-right: -25px;
  padding: 20px 25px;
  display: flex;
}

.timeline-comment-box .user {
  float: left;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 30px;
}

.timeline-comment-box .user img {
  max-width: 100%;
  max-height: 100%;
}

.timeline-comment-box .user+.input {
  margin-left: 44px;
}

.form-control.input-inline {
  display: inline;
  width: auto;
  padding: 0 7px;
}

.flat-black .navbar.navbar-inverse .navbar-form .form-control {
  background: #4a4a4a;
  border-color: #4a4a4a;
}

select.form-control:not([size]):not([multiple]) {
  height: 34px;
}

.btn {
  font-size: small;
  margin-top: 3px;
  font-family: system-ui;
  background-color: #62222f;
  color: white;
  border-radius: 2px;
  border: aliceblue;
  padding: 5px;
  outline: none !important;
  margin-left: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: white !important;
  color: #2f0207 !important;
  font-weight: 700 !important;
}