.search-div {
  position: absolute;
  width: 600px;
  height: 54px;
  left: 440px;
  top: 102.5px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgb(67, 45, 194);
  border-radius: 8px;
}

#forsearch-logo {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 6px;
  top: 7.5px;
}

.Search {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #c4c4c41a;
  border-radius: 8px;
  color: #3650476b;
}
.search-text {
  position: absolute !important;
  width: 449px;
  height: 22px;
  left: 50px;
  top: 7.5px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.035em;
  color: #bdbdbd;
}
.search-btn {
  position: absolute;
  width: 75px;
  height: 32px;
  left: 510px;
  top: 7.5px;
  background: rgb(29 161 242) !important;
  border-radius: 4px;
  font-weight: 700 !important;
  color: #ffffff !important;
  text-transform: initial !important;
}

.search-btn:hover {
  background: #18557a !important;
  color: #ffffff !important;
}

.Card-div {
  position: absolute;
  left: 105px;
  top: -90px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
